@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #616161;
  --primary-accent-color: #5c6bc0;
  --secondary-accent-color: #ab47bc;
  --division-color: #e0e0e0;
  --shadows-color: rgba(0, 0, 0, 0.1);
  --primary-accent-hover-color: #3f51b5;
  --secondary-accent-hover-color: #8e24aa;
  --unactive-primary-accent-color: rgba(92, 107, 192, 0.4);
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Source Sans Pro", "Arial", "Sans Serif";
}

.section-text {
  color: var(--main-text-color);
  font-family: "Montserrat", "Arial", "Sans Serif";
  font-size: 40px;
  font-weight: 500;
}

.navbar-text {
  color: var(--main-text-color);
  font-family: "Montserrat", "Arial", "Sans Serif";
  font-size: 20px;
}

.header-text {
  color: var(--main-text-color);
  font-family: "Source Sans Pro", "Arial", "Sans Serif";
}

.highlight-text {
  color: var(--primary-accent-color);
}

.project-text {
  color: var(--unactive-primary-accent-color);
  font-family: "Montserrat", "Arial", "Sans Serif";
  font-size: 24px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

/* Focused (active) style */
.slick-current .project-text {
  color: var(--primary-accent-color);
  font-size: 32px;
}

.card-border {
  border: 1px solid var(--main-text-color);
}

.project-external-link-text {
  color: var(--main-text-color);
  font-family: "Montserrat", "Arial", "Sans Serif";
  text-decoration: underline;
}

.rounded-button {
  background-color: var(--secondary-accent-color);
  cursor: pointer;
  font-family: "Montserrat", "Arial", "Sans Serif";
}

.paragraph-text {
  color: var(--secondary-text-color);
  font-family: "Source Sans Pro", "Arial", "Sans Serif";
}

hr {
  border: 1px solid var(--division-color);
}

.card-hover:hover {
  box-shadow: 0 0 10px var(--shadows-color);
}

.active-category {
  color: var(--primary-accent-color);
  font-size: 24px;
}

.unactive-category {
  color: var(--division-color);
  /* Line over the text */
  text-decoration: line-through;
  font-size: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #121212;
    --main-text-color: #ffffff;
    --secondary-text-color: #bdbdbd;
    --primary-accent-color: #5c6bc0;
    --secondary-accent-color: #ab47bc;
    --division-color: #424242;
    --shadows-color: rgba(255, 255, 255, 0.1);
    --primary-accent-hover-color: #7986cb;
    --secondary-accent-hover-color: #d05ce3;
  }
}

@media (max-width: 768px) {
  .project-text {
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
  }

  /* Focused (active) style */
  .slick-current .project-text {
    font-size: 24px;
  }

  .active-category {
    font-size: 16px;
  }

  .unactive-category {
    font-size: 16px;
  }
}
